.pg-TitleBox {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.pg-user-option-body {
  background-color: #140f4b;
  min-height: 100vh;
  width: 100vw;
}
.pg-option-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pg-user-option-img {
  width: 100px;
  height: 100px;
}
.pg-user-option-img:hover {
  width: 110px;
  height: 110px;
}
.pg-user-option-img-container {
  border: 6px solid #fdbb4f;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  align-items: center;
  display: flex;
  background: #00d1ff;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.pg-user-option-title {
  color: #fdbb4f;
}

.pg-user-option-number {
  color: #140f4b;
}

.pg-user-option-main {
  background-color: #140f4b;
  width: 55%;
  color: white;
  margin: auto;
  text-align: center;
}

.pg-container-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pg-btn-container {
  display: flex;
}

.pg-btn {
  margin: 20px auto;
}
.pg-button {
  border: none;
  padding: 10px 10px;
  /* aspect-ratio: 3; */
  background: linear-gradient(to top, #db481b, #fdbb4f);
  border-radius: 5px;
  color: #140f4b;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
    /* background: linear-gradient(to top, #db481b, #fdbb4f); */
  }

  @media only screen and (max-width: 600px) {
    width: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .pg-option-container {
    display: block;
    margin: auto;
  }
}
